<footer>
  <div class="membership">
    <img src="../../../assets//imagem/Logo2.svg" alt="logo of an astronaut">
    <span>Level Up Your Gaming Experience: Join Our Exclusive YouTube Channel Membership Today!</span>
    <a class="btn" href="#">Join Tournament</a>
  </div>


  <div class="footer_container">
    <div class="col1">
      <img src="../../../assets/imagem/logotipo.svg" alt="logo of an astronaut">
      <nav>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Sponsorships</a></li>
          <li><a href="#">Join Us</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>

    <div class="col2">

      <div class="box2">
        <span>
          Follow us
          <img src="../../../assets/imagem/Rectangle.svg" alt="">
        </span>
        <nav>
          <ul>
            <li><a href="#"><img src="../../../assets/imagem/Facebook.svg" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/imagem/Insta.svg" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/imagem/YouTube.svg" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/imagem/Discord.svg" alt=""></a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

</footer>