<header>

  <nav>
    <ul class='nav-bar'>
      <li class='logo'><a href='#'><img src='../../../assets/imagem/logotipo.svg' /></a></li>
      <input type='checkbox' id='check' />
      <span class="menu">
        <li><a href="#">Tournaments</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Our Sponsors</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Contact Us</a></li>
        <label for="check" class="close-menu"><img src="../../../assets/imagem/Cross.svg"
            alt="menu burguer icon"></label>
      </span>
      <label for="check" class="open-menu"><img src="../../../assets/imagem/menuBurguer.svg"
          alt="menu burguer icon"></label>
    </ul>
  </nav>

</header>