<header>

  <nav>
    <ul class='nav-bar'>
      <li class='logo'><a href='#'><img src='../../../assets/imagem/logotipo.svg' /></a></li>
      <input type='checkbox' id='check' />
      <span class="menu">
        <li><a (click)="scrollToSection('aboutUs')">About Us</a></li>
        <li><a (click)="scrollToSection('tournaments')">Tournaments</a></li>
        <li><a (click)="scrollToSection('contactUs')">Contact Us</a></li>
        <li><a (click)="scrollToSection('ourShop')">Our Shop</a></li>
        <li><a (click)="scrollToSection('latestNews')">Latest News</a></li>
        <li><a (click)="scrollToSection('ourTeam')">Our Team</a></li>
        <label for="check" class="close-menu"><img src="../../../assets/imagem/Cross.svg"
            alt="menu burguer icon"></label>
      </span>
      <label for="check" class="open-menu"><img src="../../../assets/imagem/menuBurguer.svg"
          alt="menu burguer icon"></label>
    </ul>
  </nav>

</header>