<section>
  <div class="section_title">
    <span>About Us</span>
    <img src="../../../assets/imagem/Rectangle.svg" alt="generic Rectangle">
  </div>
  <div class="section_container">
    <div class="section_img animateFromLeftAbout">
      <img src="../../../assets/imagem/playerImage.png" alt="White man with a headset playing on a computer">
    </div>
    <div class="section_content animateFromBottomAbout">
      <div class="section_box ">
        <div class="box">
          <span class="title">Tournaments played</span>
          <span class="number">30</span>
        </div>
        <div class="box">
          <span class="title">Tournaments won</span>
          <span class="number">10</span>
        </div>
        <div class="box">
          <span class="title">Awards won</span>
          <span class="number">5</span>
        </div>
      </div>
      <p>He is a professional esports gamer who competes in the game Dota 2. He is the
        carry and star player of the team
        Evil Geniuses, one of the most successful and popular teams in the world. He is known for his incredible
        mechanical skills, game sense, and versatility. He can play any hero and any role, and often surprises his
        opponents with his unconventional picks and builds.
      </p>
      <a href="#">Learn More</a>
    </div>

  </div>

</section>