main {
  max-width: 140rem;
  margin: 0 auto;
}

.main_container {
  position: relative;
  height: 80vh;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: auto 2rem;
  overflow: hidden;
}

.main_txt h1 {
  font-size: 7rem;
}

.main_txt h1 span {
  color: var(--green);
}

.main_txt h1 b {
  font-size: 6.4rem;
}

.btn {
  display: inline-block;
  background: linear-gradient(to bottom right, #144558, #0A1F35);
  color: #fff;
  padding: 2rem 3.5rem;
  text-align: center;
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.btn:hover {
  color: var(--green);
}

.main_img {
  position: relative;
  bottom: -8rem;

}

.main_img img {
  width: 60rem;
}


@media(max-width: 1450px) {
  .main_container {
    gap: 1rem;
  }

  .main_txt h1 {
    font-size: 6rem;
    width: 58rem;
  }
}

@media(max-width: 1250px) {
  .main_container {
    height: 65vh;
  }

  .main_txt h1 {
    font-size: 5.5rem;
    width: 50rem;
  }

  .main_txt h1 b {
    font-size: 5.5rem;
  }

  .main_img {
    bottom: -10rem;
  }

  .main_img img {
    width: 50rem;
  }
}

@media(max-width: 1070px) {
  .main_txt h1 {
    font-size: 5rem;
    width: 45.5rem;

  }

  .main_txt h1 b {
    font-size: 5rem;
  }

  .main_img {
    bottom: 0;
  }

  .main_img img {
    width: 100%;
    max-width: 100%;
  }
}



@media(max-width: 880px) {
  .main_container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }

  .main_txt {
    text-align: center;
  }

  .main_txt h1 {
    font-size: 5rem;
    width: 100%;
    max-width: 100%;
  }

  .main_txt h1 b {
    font-size: 6rem;
  }

  .main_img img {
    width: 38rem;
  }
}

@media(max-width: 560px) {
  .main_container {
    height: 90vh;
    gap: 4rem;
  }

  .main_txt h1 {
    margin-top: 3rem;
  }

  .main_img {
    bottom: -4rem;
  }

  .main_img img {
    width: 40rem;
  }
}

@media(max-width: 350px) {
  .main_txt h1 {
    font-size: 4.5rem;
  }

  .main_txt h1 b {
    font-size: 4.5rem;
  }
}